body {
    background-color: #b4ab96;
}

body, h1, h3, p {
    font-family: Helvetica, Arial, sans-serif;

}

.container-fluid {
    padding-top: 50px;
    text-align: center;

}

hr {
    width: 600px;
    border-bottom: 1px solid black;
}

.quote-box {
    border: 1px dashed black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.btn {
    margin-bottom: 15px;
}

.weather-box {
    border: 1px dashed black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.wikiSearchInput {
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #29303a;
    width: 500px;
}

.resultList {
    margin-top: 20pz;
    text-align: left;
}

.resultTitle {
    font-size: 18px;
}

.resultMetadata {
    padding-bottom: 5px;
}

.twitch-box {
    border: 1px dashed #29303a;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

