body {
    background-image: url(../img/dust_scratches.png);
    background-repeat: repeat;
}

body, h1, h3, p {
    font-family: Helvetica, Arial, sans-serif;

}

.container-fluid {
    padding-top: 50px;
    text-align: center;

}

hr {
    width: 600px;
    border-bottom: 1px solid black;
}

.quote-box {
    border: 1px dashed black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}